@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Patrick+Hand&family=Tapestry&display=swap');
.logo{
margin-top: 5px; 
}

header{
    border: 2px solid black;
    height: 100px;
    margin-bottom: 4px;
    background-image: url('../imagens/banner2.jpg') ;

}
footer{
    border: 2px solid black;
    height: 170px;
    background-image: url('../imagens/banner2.jpg');
}

.rodape{
    color: aliceblue;
    text-align: center;
    font-size: 14px;
}

main{
    border: 2px  black;
    margin-bottom: 4px;
}
.cor{
    border: 2px solid black;
    height: auto;
    margin-top: 10px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family:"Patrick Hand","Old Standard TT","italic" ;

}
body{
    border: 2px  black;
    background-image: url('../imagens/benny.webp') ;
}


/*nav*/

nav{
    border: 2px solid rgba(0, 0, 0, 0.349);
    height: 60px;
    margin-bottom: 25px;

}
.nav-item{
    padding: 60px;
}

.modal{
    width: 300px;

}
.modal-content{
    width: 300px;
}
.list-group-item:hover{
    background-color: rgba(126, 26, 26, 0.486)!important;}


    /*main*/

.classicitem img{
  height: 100%;
  width: 516px;;
  border: 2px solid black;
  margin-bottom: 35px;
}

.classicitem2 img{
  margin-top: 100px;
  height: 100%;
  width:  516px;
  border: 2px solid black;
}

.classicitem3 img{
  margin-top: 140px;
  height: 100%;
  width:  516px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.land{
 margin-top: 100px;
}

.gm{
  margin-top: 140px;
}
